body{
  max-width: 100vw;
  overflow-x: hidden;
}
.border-orange{
  border-left: 2px solid #f14d34;
  padding-left: 3px;
}
a{
  text-decoration: none !important;
  color:white !important;
}
ul{
  padding: 0px !important;
  margin-left: 5px;
  overflow: hidden;
}

/*--------------------------------section_1-----------------------------------*/

#myVideo {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 650px;
  width: inherit;
  opacity: 0.2;
  z-index: -20;
}
#section_1{
  height: max-content;
  width: 100vw;
  max-width: 100vw;
  overflow: hidden;
  margin: 0;
  color:white;
}
#black{
  position: absolute;
  height: 650px;
  width: 100vw;
  background-color: black;
  z-index: -30;
}
#section_1 > header{
  height: 50px;
  z-index: 3;
}
#section_1>header li:hover{
  border-bottom: #f14d34 solid 3px !important;
  padding-bottom: -3px !important;
}
#section_1 #drupal-coder{
  display: block;
  width: 140px;
  height: 20px;
  margin: auto;
}
#number{
  padding-left:10%;
}
#s1_2{
  margin-top: 8%;
  height: 60%;
  transform: scale(1.1);
  padding-left: 10%;
  padding-right: 10%;
  z-index: 3;
}
#s1_2 >div>div>div{
  height: 35%;
  padding-left: 10px;
}
#s1_2 button{
  background-color: unset;
  border-radius: 10px;
  color: white;
  border-color: #f14d34;
  width:250px;
  height: 80px;
}
#s1_2 button:hover{
  background-color: #f14d34;
}
#s1_2 h1{
  padding-top: 60px;
}
#logo_1{
  position: absolute;
  transform: translateX(-200px) translateY(-100px) scale(1);
  z-index: -10;
}

/*--------------------------------section_2-----------------------------------*/

#section_2{
  height: max-content;
  width: 100vw;
  max-width: 100vw;
  margin-top: 15%;
  padding-left: 15%;
  margin-right: 20%;
  overflow: hidden;
}
#s2_1{
  width: 30%;
}
#s2_2{
  width: 65%;
}

/*--------------------------------section_3-----------------------------------*/

#section_3{
  height: max-content;
  width: max-content;
  max-width: 100vw;
  margin-top: 4%;
  margin-left: 10%;
  margin-right: 10%;
  overflow: hidden;
}
#section_3 h1{
  text-align: center;
}
#section_3 small{
  color: gray;
}
#s3_1{
  margin-bottom: 100px;
}
.square{
  max-height: 300px;
  max-width: auto;
  padding-right: 0 !important;
  vertical-align: bottom;
  overflow: hidden;
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
  background-color: white;
}
.square img{
  display: block;
  margin-top: -10px;
  margin-left: 200px;
  padding-bottom:0px;
  margin-bottom:0px;
}
#s3_2{
  position: absolute;
}

/*--------------------------------section_4-----------------------------------*/

#section_4{
  background: linear-gradient(to left,rgb(43, 41, 52), black );
  color:white;
  height: 840px;
  width: 100vw;
  margin-top: 400px;
  padding-top: 400px;
  max-width: 100vw;
  overflow: hidden;
}
#section_4 > img{
  float: left;
  width: 660px;
  height: 530px;
}
#s4_2{
  margin-top: 100px;
}
#s4_2 p{
  width: 200px;
}
#logo_2{
  position: absolute;
  left:800px;
  transform: translateY(-250px) scale(1.8);
}

/*--------------------------------section_5-----------------------------------*/

#section_5{
  height: 1100px;
  background-size: 100%;
  max-width: 100vw;
  overflow: hidden;
  background-image: url(images/D-background.svg);
}
#section_5 h1{
  margin-top: 100px;
  text-align: center;
}
#section_5 p{
  max-width: 468px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  text-align: center;
  
}
#s5_2{
  height: max-content;
  width: 100vw;
  margin: auto;
}
#s5_2 >div{
  width: 30%;
  max-width: 427px;
  height: auto;
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
  background-color: white;
}
#s5_2_1{
  margin-top: 100px;
}
#s5_2_2{
  margin-top: 100px;
  transform: scale(0.8);
}
#s5_2_3{
  margin-top: 100px;
  transform: scale(0.8);
}

#s5_2 #s5_2_4{
  margin: auto;
  height: auto;
  box-shadow: none;
  background-color: none;
}
#s5_2 button{
  position: relative;
  right:-30px;
  background-color: unset;
  border-radius: 10px;
  border-color: #f14d34;
  width:70%;
  height: 50px;
}
#s5_2 button:hover{
  background-color: #f14d34;
  color:white;
}
#underline{
  margin-top: -10px !important;
  text-decoration: underline;
}
.orange{
  color:#f14d34;
  margin-top: 30px;
}
.big{
  height: 100px;
  font-size: 70px;
}
.container0{
  margin-left: 50px;
  margin-right: 50px;
}
.li{
  padding-left: 2rem;
  background-image: url(images/Vector.png);
  background-position: 0 8px;
  background-repeat: no-repeat;
}
#sss{
  margin: auto;
}

/*--------------------------------section_6-----------------------------------*/

#section_6{
  height: 1700px;
  width: 1180px;
  margin: auto;
  margin-top: 300px;
  max-width: 100vw;
  overflow: hidden;
}
#section_6 h1{
  text-align: center;
  margin-bottom: 50px;
}
#section_6>div>div>div>div>div{
  margin-top: 20px !important;
}
#section_6 p{
  color:  gray;
}
#section_6 #g{
  color: #fff;
  opacity: 0.8;
}
#section_6 .text{
  position: relative;
  top:-120px;
  right: -20px;
  z-index: 2;
  height: 0px;
}
#section_6 .text2{
  position: relative;
  top:-70px;
  right: -20px;
  z-index: 2;
  height: 0px;
}
#section_6 button{
  position: relative;
  right: -500px;
  background-color: unset;
  border-radius: 10px;
  border-color: #000000;
  width:250px;
  height: 50px;
}
#section_6 button:hover{
  background-color: #f14d34;
  color:white;
}

/*--------------------------------section_7-----------------------------------*/

#section_7{
  width: 1080px;
  height: 966px;
  margin: auto;
  margin-top: 150px;
  max-width: 100vw;
  overflow: hidden;
}
#section_7 h1{
  text-align: center;
  margin-bottom: 50px;
}
#section_7 .up{
  margin-top: 30px;
  margin-bottom: 0px;
}
#section_7 .down{
  margin-bottom: 60px;
}

/*--------------------------------section_8-----------------------------------*/

#section_8{
  width: 1440px;
  height: 700px;
  margin: auto;
  margin-top: 150px;
  max-width: 100vw;
  overflow: hidden;
}
#section_8 h1{
  text-align: center;
  margin-bottom: 200px;
}
#section_8 .box1{
  margin-top: 100px;
  width:400px;
  margin-left: 150px;
  margin-bottom: 20px;
  border-right: gray solid 1px;
}
#section_8 .box1 img{
  display: block;
  opacity: 1;
  position: static;
}
#i{
  position: absolute;
  opacity: 0.05;
  z-index: -10;
}
#card_1{
  margin: auto;
  position: relative;
  width: 980px;
  height: 416px;
  border:gray solid 1px;
  background-color: white;
  z-index: 10;
  display: flex;
}
#card_1 h4{
  text-decoration: underline;
  margin-top: 30px;
}
#card_2{
  margin: auto;
  position: relative;
  width: 980px;
  height: 416px;
  border:gray solid 1px;
  background-color: white;
  top:-480px;
  transform: scale(0.9);
  z-index: 9;
  opacity: 0.8;
}
#card_3{
  margin: auto;
  position: relative;
  width: 980px;
  height: 416px;
  border:gray solid 1px;
  background-color: white;
  top:-960px;
  transform: scale(0.8);
  z-index: 8;
  opacity: 0.6;
}

/*--------------------------------section_9-----------------------------------*/

#section_9{
  height: 477px;
  margin: auto;
  margin-top: 150px;
  max-width: 100vw;
  overflow: hidden;
}
#section_9 .box{
  margin: auto;
  text-align: center;
  margin-bottom: 100px;
  width: 740px;
  height: 44px;
}
#section_9>div>div>div{
  width: 291px;
  height: 155px;
  border-radius: 5px;
}
#section_9 .f{
  display: flex;
  flex-direction: row;
  right:50%;
}
#section_9 .r2{
  margin-left:-450px;
  margin-bottom: 100px;
}

/*--------------------------------section_10-----------------------------------*/

#section_10{
  height: 720px;
  color:white;
  margin: auto;
  margin-top: 150px;
  background-color: #000000;
  margin: auto;
  max-width: 100vw;
  overflow: hidden;
}
#section_10 #s10_1_1{
  width: 480px;
  height: 440px;
  margin: auto;
  margin-top: 100px;
}
#section_10 #s10_1_2{
  width: 480px;
  width: 480px;
  margin: auto;
}
#section_10 #s10_2{
 height: 100px;
 color:gray;
 margin-left: 200px;
 margin-top: 50px;
 font-size: 80%;
}
#section_10 #feedback_form{
  display: flex;
  flex-direction: column;
  margin-top:120px;
}
#section_10 input{
  background: none;
  color:white;
  width: 480px;
  height: 50px;
  margin-bottom: 10px;
  border: gray solid 1px;
  border-radius: 5px;
}
#section_10 textarea{
  background: none;
  color:white;
  width: 480px;
  height: 100px;
  border: gray solid 1px;
  border-radius: 5px;
}
#section_10 button{
  background-color: unset;
  border-radius: 10px;
  background-color: #f14d34;
  height: 50px;
  color:white;
}
#section_10 button:hover{
  background-color: #ff7e6a;
}
::-webkit-input-placeholder { /* WebKit browsers */
  color:    white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    white;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    white;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:    white;
}
.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.custom-checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.custom-checkbox+label::before {
  content: '';
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 80% 80%;
}
.custom-checkbox:checked+label::before {
  border-color: #ffffff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
/* стили при наведении курсора на checkbox */
.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
  border-color: #b3d7ff;
}
/* стили для активного состояния чекбокса (при нажатии на него) */
.custom-checkbox:not(:disabled):active+label::before {
  border-color: #b3d7ff;
}
/* стили для чекбокса, находящегося в фокусе */
.custom-checkbox:focus+label::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.custom-checkbox:focus:not(:checked)+label::before {
  border-color: #80bdff;
}
/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox:disabled+label::before {
  background-color: #e9ecef;
}
#t{
  font-size: 70%;
}